html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
}

input[type="text"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//----------------WRAPPER---------------------
.wrapper {
  // overflow: hidden;
  position: relative;
}


.main-page {
  // background-color: rgb(58, 75, 60); //удалить!
  // display: flex;
  position: relative;
}
//////////////////////

._container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1380px) {
  ._container {
    padding: 0px 10px 0px 110px;  
  }
}

.header__header {
  padding-top: 40px;
}

.content-wrapper {
  padding-left: 100px;
}

//------------top-page-----------
.top-page {
  position: relative;
  margin-left: -100px;
}

.bg-picture {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


//----------------HEADER---------------------
.header {
  position: relative;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__left-side,
  &__right-side {
    display: flex;
  }
  &__phones {
    padding-top: 8px;
  }
  &__bird-logo {
    margin-left: 54px;
    padding-top: 15px;
  }
  &__birds-and-bees-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    left: (470 / 1140) * 100%;
    & img {
      width: 201px;
      height: 56px;
      flex: 0 0 auto;
    }
  }
  &__3d-logo {
    margin-right: 31px;
    padding-top: 18px;
  }
  &__basket-logo {
    margin-right: 45px;
    padding-top: 9px;
  }
  &__book-btn {
    // margin-left: (45 / 1140) * 100%;
    padding-top: 6px;
  }
}
.book-btn,
.all-reports-btn {
  padding: 11px 28px 11px;
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    line-height: 121%;
    color: #fff;
    border: 2px solid #E3BF77;
    border-radius: 63px;
}

.main-page {
  position: relative;
  &__header {
    padding-top: 40px;
  }
  &__menu {
    margin-top: 40px;
  }
    // &_active {
  //   opacity: 1;
  //   transition-duration: 0.5s;
  // }
  // &_inactive {
  //   opacity: 0;
  // }
  
  &__title {
    margin: {
      top: 150px;
      bottom: 23px;
    }
  }
  &__subtitle {
    margin-bottom: 45px;
  }
  &__shedule {
    margin-bottom: 40px;
  }
  &__book-and-more-btns {
    display: flex;
    margin-bottom: 35px;
  }
  &__book-btn_fill {
    margin-right: 30px;
  }
  &__nav-btns {
    margin-bottom: 200px;
  }
}
.phones {
  &__main-phone {
    margin-bottom: 8px;
  }
}
.main-phone {
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 600
  }
  color: #fff;
  line-height: 121%;
}
.additional-phone {
  font: {
    family: 'Montserrat';
    size: 12px;
    weight: 400
  }
  color: #fff;
  line-height: 122%;
}
.menu {
  // padding-left: 440px;
  &__list, &__link {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    padding-bottom: 3px;
  }
  &__link a {
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    color: #fff;
    line-height: 122%;
    
  }
  &__point {
    display: flex;
    align-items: start;
  }
  &__arrow-down-mini {
    padding-left: 6px;
  }
}
.point__circle {
  width: 3px;
  height: 3px;
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin-top: 7px;
}
.chapter-title {
  font: {
    family: 'Montserrat';
    size: 56px;
    weight: 700
  }
  color: #fff;
  line-height: 122%;
}
.chapter-subtitle {
  font: {
    family: 'Montserrat';
    size: 20px;
    weight: 400
  }
  color: #fff;
  line-height: 122%;
}
.shedule {
  display: flex;
  &__days {
    font: {
      family: 'Montserrat';
      size: 12px;
      weight: 700
    }
    color: #fff;
    line-height: 122%;
    opacity: 0.5;
  }
  &__time {
    font: {
      family: 'Montserrat';
      size: 16px;
      weight: 400
    }
    color: #fff;
    line-height: 125%;
  }
  &__first-part {
    margin-right: 40px;
  }
}
.book-btn_fill {
  background: #E3BF77;
  padding: 16px 30px 17px;
}
.book-btn_fill, .more-btn {
  border-radius: 63px;
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 600
  }
  color: #fff;
  line-height: 121%;  
}

.more-btn {
  padding: 14px 28px 14px;
  border: 2px solid rgba($color: #fff, $alpha: 0.5);
}

.nav-btns {
  &__prev, &__next {
    border: 2px solid #E3BF77;
    border-radius: 50%;
  }
  &__prev {
    padding: 10px 8px 8px 12px;
    margin-right: 20px;
  }
  &__next {
    padding: 10px 12px 8px 8px;
  }
}
.divisions {
  &__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    opacity: 0.5;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  &__title {
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    color: #fff;
    line-height: 121%;
    padding-top: 17px;  
    margin-bottom: 10px;
  }
  &__underline {
   display: block; 
  }
  &__item_color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 }

 //--------------ASIDE------------------
 .aside {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.07);
    &__item {
      height: 102px;
      position: relative;
    }
    &__line {
      position: absolute;
      bottom: 0;
    }
    &__nav {
      margin-bottom: 15px;
    }
    &__item:hover {
      cursor: pointer;
    }
}
.outer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  // position: relative;
  // bottom: 30px;
  // padding-top: 20px;
  &__item:not(:last-child) {
    margin-bottom: 35px;
  }
  &__item:last-child {
    padding-bottom: 15px;
  }
}

.title-h2 {
  font: {
    family: 'Montserrat';
    size: 30px;
    weight: 700
  }
}
//--------------EVENTS--------------------
.events {
  background: #F9F9F9;
  position: relative;
  margin-left: -100px;
  &__header {
    display: flex;
    padding-top: 74px;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 55px;
  }
  &__main {
    position: relative; //для слайдера
    
    background-color: #F9F9F9;
    min-height: 390px;
    min-width: 0;
  }
  &-names__item {
    display: flex;
    &:hover {
      cursor: pointer;
    }
  }
  &__nav-line {
    padding-bottom: 87px;
  }
}

.events-names {
  display: flex;
  align-items: center;
  line-height: 121%;
  &__title {
    font: {
      family: 'Montserrat';
      size: 16px;
      weight: 600
    }
    margin-right: 13px;
  }
}

.nav-line {
  max-width: 1140px;
  position: relative;
  &__line {
    background-color: #000;
    opacity: 0.06;
    border-radius: 7px;
    height: 4px;
    position: relative;
    top: 1px;
    &-thin {
      height: 2px;
    }
  }
  &__thumb {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 74px;
    height: 6px;
    background-color: #E3BF77;
    border-radius: 7px;
    &-thin {
      height: 2px;
      width: 31px;
    }
  }
}


//--------------Slider (Events)-------------------------

.slider_1 {
  position: absolute;
  // overflow: hidden;
  top: 0;
  left: 0;
  max-width: 1440px;
  // margin-left: 0 auto;
  // padding-left: 500px;
  
  // &-wrapper {
  //   width: 800px;
  // }
}

.slider-events {
  &__photo {
    width: 359px;
    height: 295px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.15);
  }
  &__events-names {
    margin-top: 30px;
  }
  &__item {
    width: 359px;
  }
}


/*
.slider-events {
  position: absolute;
  max-width: 1471px;
  max-height: 350px;
  overflow: hidden;
  background-color: #F9F9F9;
  &__gallery {
    display: inline-flex;
    height: 100%;
  }
  &__item {
    
    // min-width: 359px;
  }
  &__photo {
    width: 359px;
    height: 295px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.15);
  }
  &__events-names {
    margin-top: 30px;
  }
}

.btns {
  margin: 20px 0px 0px 100px;
}

*/


//----------------------------our-places------------------------

.our-places {
  &__title {
    margin-top: 114px;
    margin-bottom: 44px;
  }
  &__filter {
    margin-bottom: 54px;
  }

}

.filter {
  &__names {
    display: flex;
    margin-bottom: 14px;
  }
  &__item {
    font: {
      family: 'Montserrat';
      size: 16px;
      weight: 600;
    }
    color: #2D2D2D;
    opacity: 0.5;
    line-height: 122%;
    margin-right: 37px;
  }
  &__nav-line {
    position: relative;
  }
}

.main-places {
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 550px;
    height: 320px;
    position: relative;
    margin-bottom: 30px;
    &:nth-child(2n+1) {
      margin-right: 30px;
    }
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    &:last-child {
      margin-bottom: 120px;
    }
  }
  &__photo {
    position: absolute;
    z-index: -1;
  }
  &__guests {
    position: absolute;
    top: 40px;
    left: 40px;
    display: inline;
    background: #E3BF77;
    opacity: 0.8;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 8px 7px 9px;
  }
  &__title {
    position: absolute;
    top: 220px;
    left: 40px;
    font: {
      family: 'Montserrat';
      size: 20px;
      weight: 600;
    }
    line-height: 120%;
    color: #fff;
  }
  &__subtitle {
    position: absolute;
    left: 40px;
    top: 254px;
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 400;
    }
    line-height: 150%;
    color: #fff;
  }
}

.delivery {
  position: relative;
  &__title {
    font: {
      family: Montserrat;
      weight: 700;
      size: 40px;
    }
    line-height: 123%;
    color: #FFFFFF;
    padding-top: 144px;
  }
  &__subtitle {
    font: {
      family: Montserrat;
      weight: 400;
      size: 20px;
    }
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 30px;
    padding-bottom: 248px;
  }
  &__btn {
    position: absolute;
    bottom: 168px;
    font: {
      family: Montserrat;
      weight: 600;
      size: 14px;
    }
    color: #E3BF77;
    padding: 16px 30px 17px 30px;
    border-radius: 63px;
    background-color: #fff;
    // margin-top: 30px;
    // margin-bottom: 168px;
    &:hover {
      cursor: pointer;
    }
  }
  background-color: #E3BF77;
  &__pic {
    position: absolute;
    // z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

//-----------------last reports--------------------///

.last-reports {
  // background-color: #E5E5E5;
  &__header {
    padding-top: 123px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font: {
      family: Montserrat;
      weight: 700;
      size: 30px;
    }
  }
  &__next {
    margin-right: 30px;
  }
  &__slider {
    margin-top: 50px;
    margin-bottom: 120px;
  }
}

.slider_2 {
  width: 100%;
  overflow: hidden;
}

.all-reports-btn {
  color: #000;
  padding: 13px 30px 14px 30px;
}

.report-item {
  position: relative;
  width: 295px;
  &__photo {
    position: relative;
    z-index: -1;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  }
  &__date {
    position: absolute;
    z-index: 1;
    font: {
      family: Montserrat;
      weight: 400;
      size: 12px;
    }
    color: #FFFFFF;
    opacity: 0.7;
    top: 202px;
    left: 40px;
  }
  &__title {
    position: absolute;
    font: {
      family: Montserrat;
      weight: 600;
      size: 16px;
    }
    color: #FFFFFF;
    top: 231px;
    left: 40px;
    line-height: 150%;
  }
}

//------------------FOOTER--------------------//
.footer {
  &__main {
    background-color: #2D2D2D;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    padding-top: 34px;
  }
  &__outer-links {
    
  }
  &__phones {
    margin-bottom: 30px;
  }
  &__subscribe {
    max-width: 261px;
    &-text {
      font: {
        family: Montserrat;
        weight: 400;
        size: 14px;
      }
      color: #FFFFFF;
      line-height: 150%;
      margin-bottom: 20px;
    }
  }
  &__email {
    margin-bottom: 20px;
  }
  &__line {
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0.1;
    margin-bottom: 42px;
  }
  &__additional {
    background-color: #262626;
    &-part-1,
    &-part-2 {
      font: {
        family: Montserrat;
        weight: 400;
        size: 14px;
      }
      color: #FFFFFF;
      opacity: 0.5;
      line-height: 150%;
    }
  }
}

.additional {
  &__content {
    display: flex;
    justify-content: space-between;
  }
  padding-top: 22px;
  padding-bottom: 23px;
}

.part-2 {
  display: flex;
  &__policy {
    margin-right: 40px;
  }
}

.call {
  display: flex;
  margin-top: 34px;
  &__pic {
    width: 13px;
    margin-right: 13px;
  }
  &__text {
    font: {
      family: Montserrat;
      weight: 600;
      size: 14px;
    }
    color: #FFFFFF;
  }
}

.outer-links-hor {
  display: flex;
  justify-content: space-between;
  width: 103px;
  &__item {
    color: #ABABAB;
  }
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font: {
      family: Montserrat;
      weight: 400;
      size: 14px;
    }
    color: #FFFFFF;
    opacity: 0.5;
    line-height: 129%;
  }
}

.subscribe-btn {
  border: 2px solid #E3BF77;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}