html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
}

input[type="text"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//----------------WRAPPER---------------------
.wrapper {
  // overflow: hidden;
  position: relative;
}


.main-page {
  // background-color: rgb(58, 75, 60); //удалить!
  // display: flex;
  position: relative;
}
//////////////////////

._container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-content-wrapper {
  padding-left: 100px;
}

//----------------HEADER---------------------
.header {
  display: flex;
  max-width: 1140px;
  &__phones {
    padding-top: 8px;
  }
  &__bird-logo {
    margin-left: (54 / 1140) * 100%;
    padding-top: 15px;
  }
  &__birds-and-bees-logo {
    display: flex;
    justify-content: center;
    margin-left: (218 / 1140) * 100%;
    & img {
      width: 201px;
      height: 56px;
      flex: 0 0 auto;
    }
  }
  &__3d-logo {
    margin-left: (154 / 1140) * 100%;
    padding-top: 18px;
  }
  &__basket-logo {
    margin-left: (31.28 / 1140) * 100%;
    padding-top: 9px;
  }
  &__book-btn {
    margin-left: (45 / 1140) * 100%;
    padding-top: 6px;
  }
}
.book-btn {
  padding: 11px 28px 11px;
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    line-height: 121%;
    color: #fff;
    border: 2px solid #E3BF77;
    border-radius: 63px;
}
.main-page {
  position: relative;
  &__header {
    padding-top: 40px;
  }
  &__menu {
    margin-top: 30px;
  }
  &__bg-picture {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -100px;
    object-fit: cover;
    // width: 100%;
    height: 100%;
    width: calc(100% + 100px);
    // width: 100vw;
  }
  &__title {
    margin: {
      top: 150px;
      bottom: 23px;
    }
  }
  &__subtitle {
    margin-bottom: 45px;
  }
  &__shedule {
    margin-bottom: 40px;
  }
  &__book-and-more-btns {
    display: flex;
    margin-bottom: 35px;
  }
  &__book-btn_fill {
    margin-right: 30px;
  }
  &__nav-btns {
    margin-bottom: 200px;
  }
}
.phones {
  &__main-phone {
    margin-bottom: 8px;
  }
}
.main-phone {
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 600
  }
  color: #fff;
  line-height: 121%;
}
.additional-phone {
  font: {
    family: 'Montserrat';
    size: 12px;
    weight: 400
  }
  color: #fff;
  line-height: 122%;
}
.menu {
  // padding-left: 440px;
  &__list, &__link {
    display: flex;
    // justify-content: space-between;
  }
  &__list {
    padding-bottom: 3px;
  }
  &__link a {
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    color: #fff;
    line-height: 122%;
    
  }
  &__link:not(:last-child) {
    margin-right: (36.6 / 1140) * 100%;
  }
  &__point {
    margin-right: (36.6 / 1140) * 100%;;
  }
  &__point {
    // padding: 0px 36px;
    display: flex;
    align-items: start;
    // & img {
    //   padding-top: 7px;
    // }
  }
  &__arrow-down-mini {
    padding-left: 6px;
  }
  // &__point_for-kids {
  //   // padding-left: 24px;
  // }
}
.point__circle {
  width: 3px;
  height: 3px;
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin-top: 7px;
}
.chapter-title {
  font: {
    family: 'Montserrat';
    size: 56px;
    weight: 700
  }
  color: #fff;
  line-height: 122%;
}
.chapter-subtitle {
  font: {
    family: 'Montserrat';
    size: 20px;
    weight: 400
  }
  color: #fff;
  line-height: 122%;
}
.shedule {
  display: flex;
  &__days {
    font: {
      family: 'Montserrat';
      size: 12px;
      weight: 700
    }
    color: #fff;
    line-height: 122%;
    opacity: 0.5;
  }
  &__time {
    font: {
      family: 'Montserrat';
      size: 16px;
      weight: 400
    }
    color: #fff;
    line-height: 125%;
  }
  &__first-part {
    margin-right: 40px;
  }
}
.book-btn_fill {
  background: #E3BF77;
  padding: 16px 30px 17px;
}
.book-btn_fill, .more-btn {
  border-radius: 63px;
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 600
  }
  color: #fff;
  line-height: 121%;  
}

.more-btn {
  padding: 14px 28px 14px;
  border: 2px solid rgba($color: #fff, $alpha: 0.5);
}

.nav-btns {
  &__prev, &__next {
    border: 2px solid #E3BF77;
    border-radius: 50%;
  }
  &__prev {
    padding: 10px 8px 8px 12px;
    margin-right: 20px;
  }
  &__next {
    padding: 10px 12px 8px 8px;
  }
}
.divisions {
  &__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item:not(:first-child) {
    opacity: 0.5;
  }
  &__title {
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    color: #fff;
    line-height: 121%;
    padding-top: 17px;  
    margin-bottom: 10px;
  }
  &__underline {
   display: block; 
  }
  &__item_color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 }

 //--------------ASIDE------------------
 .aside {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.07);
    &__item {
      height: 102px;
      position: relative;
    }
    &__line {
      position: absolute;
      bottom: 0;
    }
    &__nav {
      margin-bottom: 15px;
    }
    &__item:hover {
      cursor: pointer;
    }
}
.outer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  // position: relative;
  // bottom: 30px;
  // padding-top: 20px;
  &__item:not(:last-child) {
    margin-bottom: 35px;
  }
  &__item:last-child {
    padding-bottom: 15px;
  }
}
//--------------EVENTS--------------------
.events {
  background: #F9F9F9;
  &__header {
    display: flex;
    padding-top: 74px;
  }
  &__title {
    font: {
      family: 'Montserrat';
      size: 30px;
      weight: 700
    }
  }
  &__nav-btns {
    margin-left: (721 / 1140) * 100%;
  }

}

