html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
}

input[type="text"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//----------------WRAPPER---------------------
.wrapper {
  overflow: hidden;
}


.main-page {
  // background-color: rgb(58, 75, 60); //удалить!
  display: flex;
}
//////////////////////

._left-space {
  width: 100px;
}


._container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
//----------------HEADER---------------------
.header {
  display: flex;
  &__phones {
    padding-top: 8px;
  }
  &__bird-logo {
    padding-left: 54px;
    padding-top: 15px;
  }
  &__birds-and-bees-logo {
    padding-left: 218px;
  }
  &__3d-logo {
    padding-left: 154px;
    padding-top: 18px;
  }
  &__basket-logo {
    padding-left: 31px;
    padding-top: 9px;
  }
  &__book-btn {
    padding-left: 45px;
    padding-top: 6px;
  }
}
.book-btn {
  padding: 11px 28px 11px;
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    line-height: 121%;
    color: #fff;
    border: 2px solid #E3BF77;
    border-radius: 63px;
}
.main-page {
  position: relative;
  &__header {
    padding-top: 40px;
  }
  &__menu {
    margin-top: 30px;
  }
  &__bg-picture {
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  &__title {
    margin: {
      top: 150px;
      bottom: 23px;
    }
  }
  &__subtitle {
    margin-bottom: 45px;
  }
  &__shedule {
    margin-bottom: 40px;
  }
  &__book-and-more-btns {
    display: flex;
    margin-bottom: 40px;
  }
  &__book-btn_fill {
    margin-right: 30px;
  }
  &__nav-btns {
    margin-bottom: 205px;
  }
}
.phones {
  &__main-phone {
    margin-bottom: 8px;
  }
}
.main-phone {
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 600
  }
  color: #fff;
  line-height: 121%;
}
.additional-phone {
  font: {
    family: 'Montserrat';
    size: 12px;
    weight: 400
  }
  color: #fff;
  line-height: 122%;
}
.menu {
  // padding-left: 440px;
  &__list, &__link {
    display: flex;
  }
  &__list {
    padding-bottom: 3px;
  }
  &__link a {
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    color: #fff;
    line-height: 122%;
  }
  &__point {
    padding: 0px 36px;
    display: flex;
    align-items: start;
    & img {
      padding-top: 7px;
    }
  }
  &__arrow-down-mini {
    padding-left: 6px;
  }
  &__point_for-kids {
    padding-left: 24px;
  }
}
.chapter-title {
  font: {
    family: 'Montserrat';
    size: 56px;
    weight: 700
  }
  color: #fff;
  line-height: 122%;
}
.chapter-subtitle {
  font: {
    family: 'Montserrat';
    size: 20px;
    weight: 400
  }
  color: #fff;
  line-height: 122%;
}
.shedule {
  display: flex;
  &__days {
    font: {
      family: 'Montserrat';
      size: 12px;
      weight: 700
    }
    color: #fff;
    line-height: 122%;
    opacity: 0.5;
  }
  &__time {
    font: {
      family: 'Montserrat';
      size: 16px;
      weight: 400
    }
    color: #fff;
    line-height: 125%;
  }
  &__first-part {
    margin-right: 40px;
  }
}
.book-btn_fill {
  background: #E3BF77;
  padding: 16px 30px 17px;
}
.book-btn_fill, .more-btn {
  border-radius: 63px;
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 600
  }
  color: #fff;
  line-height: 121%;  
}
.more-btn {
  padding: 14px 28px 14px;
  border: 2px solid rgba($color: #fff, $alpha: 0.5);
}
.nav-btns {
  &__prev, &__next {
    border: 2px solid #E3BF77;
    border-radius: 50%;
  }
  &__prev {
    padding: 10px 8px 8px 12px;
    margin-right: 20px;
  }
  &__next {
    padding: 10px 12px 8px 8px;
  }
}
.divisions {
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item:not(:first-child) {
    opacity: 0.5;
  }
  &__title {
    font: {
      family: 'Montserrat';
      size: 14px;
      weight: 600
    }
    color: #fff;
    line-height: 121%;
    padding-top: 17px;  
  }
  &__underline {
   display: block; 
  }
  
}